#PaymentForm {
    margin-top: 30px;

   display: flex; 
   flex-direction: column;                  
   padding-top: 60px;
       background-repeat: no-repeat;
       background-size: cover;                                                                                              
   
   }
   
   .inp__form{
       display: flex; 
       flex-direction: column;
       width: 400px;
       margin: 0 auto;
   }
   .inp-input{
        margin: 20px;
       
        padding: 10px;
        border:none;
        border-bottom: 2px solid grey;   
    
   }
   .inp-input:hover{
    outline: 2px solid grey;
    outline-offset: 2px; 
   }

.pay_now {
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: grey;
    color: rgb(255, 255, 255);
    font-family: proxima-nova, Helvetica, Arial, Helvetica, sans-serif;
    font-size: 18px;
    border-radius: 10px;
    width: 400px;
    margin-top: 25px;
    margin-bottom: 250px;
}
.pay_now:hover {
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5);
    background: blue;
}